@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employee List";

 }
        <table style=width:100%; border: 5px solid black">
            <caption style="font-size:20px">Emloyee Details</caption>
            <thead>

                <tr>
                    <th style="width:10%">Id</th>
                    <th style="width:40%">Name</th>
                    <th style="width:10%">Department</th>
                    <th style="width:40%">Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in @Model)
                {
                    <tr>
                        <td>@emp.Id</td>
                        <td>@emp.Name</td>
                        <td>@emp.Department</td>
                        <td>@emp.Email</td>
                    </tr>

                }
            </tbody>
        </table>
@section scripts 
{
<script src="~/js/CustomScript.js">
}