<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width ,initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Stylesheet.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", true)
    }

</body>
</html>
